<div class="md:mx-10 border-t">
	<div class="flex flex-col sm:grid grid-cols-[3fr_1fr_1fr] gap-10 my-10 mt-8 text-sm">
		<div>
			<div class="flex items-center gap-2">
				<p class="w-6 h-6">
					<img class="max-w-full" src="assets/logo.svg" alt="MediSync Logo" />
				</p>
				<p class="text-2xl font-bold">MediSync</p>
			</div>
			<p class="w-full md:w-2/3 text-gray-600 leading-6">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
				been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
				galley of type and scrambled it to make a type specimen book.
			</p>
		</div>

		<div>
			<p class="text-xl font-medium mb-3">COMPANY</p>
			<ul class="flex flex-col gap-2 text-gray-600">
				<li>Home</li>
				<li>About us</li>
				<li>Delivery</li>
				<li>Privacy policy</li>
			</ul>
		</div>

		<div>
			<p class="text-xl font-medium mb-3">GET IN TOUCH</p>
			<ul class="flex flex-col gap-2 text-gray-600">
				<li>+1-212-456-7890</li>
				<li>deepak&#64;gmail.com</li>
			</ul>
		</div>
	</div>

	<div>
		<hr />
		<p class="py-5 text-sm text-center">
			Copyright 2024 &#64; Prescripto.com - All Right Reserved.
		</p>
	</div>
</div>
