<section class="md:flex md:items-start sm:gap-8 mt-5">
	<div class="flex items-center gap-5 md:block mb-8 md:mb-0">
		<div class="flex-1 text-sm opacity-50 px-4 py-2">Filter by Speciality</div>
		<ul class="menu bg-base-100 w-50 xl:w-60 2xl:w-75 hidden md:block">
			@for (item of specialities; track $index) {
				<li
					class="group"
					(click)="onSpeciality(item.speciality)"
					[class.active]="filterby === item.speciality"
				>
					<a class="text-base group-[.active]:font-bold py-2.5">{{ item.label }}</a>
				</li>
			}
		</ul>
		<select
			class="select md:hidden w-auto"
			(change)="onFilterChange($event)"
			[(ngModel)]="filterby"
		>
			@for (item of specialities; track $index) {
				<option [value]="item.speciality">{{ item.label }}</option>
			}
		</select>
	</div>
	<div class="flex-1">
		<h1 class="text-2xl font-medium mb-6">List of Doctors</h1>
		@if (loading$ | async) {
			<app-loading></app-loading>
		} @else {
			<app-doctors-list
				[doctorsList$]="doctors$"
				(itemClick)="onDoctorClick($event)"
				overrideCSS="sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-4 pt-0"
			></app-doctors-list>
		}
	</div>
</section>
